@page "/"
@using DataInteract.Model
@using DataInteract.Services
@using DataInteractShared
@inject ApiClientService ApiClientSvc
@rendermode InteractiveServer


<div class="main">
  <h1>Pizzowa strona</h1>
    <p>@opis</p>
  <ul class="pizza-cards">
    @if (specials != null)
    {
      @foreach (var special in specials)
      {
        <li @onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
          <div class="pizza-info">
              <span class="title">@special.Name</span>
                  @special.Description
                <span class="price">@special.GetFormattedBasePrice()</span>
          </div>
        </li>
      }
    }
  </ul>
</div>

@if (showingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="configuringPizza" />
}


@code {
    private string opis = "Strona o pizzy  - tak bylo w tutorialu a ja nie bede wymyslac";

    List<PizzaSpecial> specials = new();

    Pizza configuringPizza;
    bool showingConfigureDialog;

    protected override async Task OnInitializedAsync()
    {
        specials = await ApiClientSvc.DajPizzaSpecials();
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        configuringPizza = new Pizza()
            {
                Special = special,
                SpecialId = special.Id,
                Size = Pizza.DefaultSize
            };

        showingConfigureDialog = true;
    }
}
